.module:hover {
	color: red !important;
	cursor: pointer;
	user-select: none;
	/*z-index: 9999 !important;*/
}

.dropdown {
	display: none;
}

.dropdown.toggled {
	display: block;
}

body {
	background-color: red;
}